body {
            background-color: lightgray;
            font-size: 20px;
        }

        fieldset {
            width: 250px;
            margin: 25px;
        }

        .titre {
            color: rgb(30, 0, 255);
            font-weight: bolder;
        }

        .main-container{
            display: flex;
            flex-direction: column;
        }

        .groupe-champ {
            margin-bottom: 10px;
        }

        label{
            align-items: left;
        }

        input{
            flex: 1;
        }

        .titre {
            display: inline-block;

            width: 100px;

            text-align: right;
            padding-right: 10px;
        }